.form__input {
    text-align: center;
    height: 100%;
    width: 180px;
    margin: 10px;
    border-width: 0.1px;
    border-radius: 20px;
}

.form__select {
    text-align: center;
    width: 60px;
    height: 100%;
    border-width: 1px;
    background-color: white;
    border-radius: 15px;
}

.form__select--backgroundColorGrey {
    background-color: #ddd;
}

.form__input:disabled {
    background-color: #ddd;
    color: black;
}

.form__block {
    height: 30px;
    padding: 10px;
}