html {
  box-sizing: border-box;
}

*,
::after ::before {
  box-sizing: inherit;
}

.body {
  background-image: url(/src/img/background.jpg);
  background-size: 190vmax;
  background-repeat: no-repeat;
  height: auto;
}